<!DOCTYPE html>
<html>
<head>

    <title>House Price Prediction</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>House Price Prediction</h1>

    <form action="/predict" method="POST">

        <input type="number"
               step="any"
               name="income"
               placeholder="Average Area Income"
               required>

        <input type="number"
               step="any"
               name="age"
               placeholder="Average Area House Age"
               required>

        <input type="number"
               step="any"
               name="rooms"
               placeholder="Average Area Number of Rooms"
               required>

        <input type="number"
               step="any"
               name="bedrooms"
               placeholder="Average Area Number of Bedrooms"
               required>

        <input type="number"
               step="any"
               name="population"
               placeholder="Area Population"
               required>

        <button type="submit">
            Predict
        </button>

    </form>

    <h2>{{ prediction_text }}</h2>

</div>

</body>
</html>